/* -------------------
        css start     
------------------------ */

/* -------------------
        body     
------------------------ */

body{
        font-family: 'Poppins','sans-serif';
        background-color:#FFFFFF;
       
}

/* -------------------
        import url
------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* -------------------
        main section
-----------------------*/

main{
        /* /* width: 1440px; */
        background-color:#FFFFFF;  
        display:flex;
        flex-direction: column;
        align-items: center;       
       
}


.player-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 30px;
        background-color:#FFFFFF;

}

.players{
        width: 330px;
        height: 474px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        margin: 10px;
}

.player-img{
        width: 100%;
}
.player-body{
        padding: 15px;
        background-color: #FFFFFF;
}

.player-name{
        font-size: 28px;
        font-weight: bold;
}
.players-desc{
        color: gray;
}

/* ---------------------
        match competition
------------------------- */

.football{
        /* margin-top: ; */
        display: flex;
        box-sizing: border-box;
        box-shadow: 2px 2px 5px white;
        

     

}

.football-heading{

        width: 469px;
        height: 241px;
        width: 35%;
        margin-left: 182px;
        padding: 5px;
        margin-top: 309px;
}

.football-heading h2{
        font-family: 'Poppins','sans-serif';
        font-weight: bold;
}
.football-heading p{
        font-family: 'Poppins','sans-serif';
        color: gray;
        text-align: left;
        line-height: 1.3;
}
.football-match{
        width: 50%;
        padding:10px;
        
}

.football-match img{
        margin-top: 200px;
        width: 567px;
        height: 427px;

}
/* ---------------------------
        footer start from here
----------------------------- */

.footer-div{
        text-align: center;
        margin-top: 156px;
}

.footer-img img{
        width: 483px;
        height: 213px;
}

.footer-icon i{
        margin-top: 32px;
        padding-left: 15px;
        color:burlywood;
        transition: width 2s,height 2s;
        transition: 0.5s ease;

}
.footer-icon a:hover i{
        color:teal;
        transform: scale(1.5);
       
}
.footer-icon p{
        font-family: 'Poppins','sans-serif';
        font-weight: bold;
}

/* -----------------------------
        Media Queries
------------------------------- */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
        .player-container{
                /* display: grid;
                grid-template-columns: repeat(3,1fr);
                grid-gap: 30px; */
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                padding:20px;
                justify-content: center;
                align-items: center;
        
        }
        .football{
                flex-wrap: wrap;
                
                /* margin: auto; */
        }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
        .player-container{
                display: grid;
                grid-template-columns: repeat(2,1fr);
        }
      
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) {
        .player-container{
                display: grid;
                grid-template-columns: repeat(3,1fr);
        }

}