/* -------------------
        css start     
------------------------ */

/* -------------------
        body  start  
------------------------ */

body{
        font-family: 'Poppins','sans-serif';
        background-color:#FFFFFF;
       
}


/* -----------------------
   Headers start from here
-------------------------- */

.header-area{
	display: flex;
       
	width: 100%;
	height: 677px;
	background-color: #2D25A0;
}

.header-title{
	width: 485px;
	/*border: 2px solid red;*/
	margin-top: 207px;
	margin-left: 156px;
	color: white;

}
.header-title h1{
	font-size: 64px;
	line-height: 80px;
	margin-bottom: 27px;
	font-family: 'Poppins', sans-serif;
}

.header-title a{
	color: white;
	text-decoration: none;
	width: 168px;
	height: 44px;
	background-color: #E02C6D;
	padding: 10px 24px;

}

.header-title i{
	padding-left: 15px;
}
	



.header-img img{
	width: 556px;
	height: 438px;
	margin-left: 102px;
	margin-top: 153px;
	margin-right: 140px;
}

/* -------------------
        import url
------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* -------------------
        main section
-----------------------*/

main{
        /* /* width: 1440px; */
        background-color:#FFFFFF;  
        display:flex;
        flex-direction: column;
        align-items: center;       
       
}


.player-container{
        padding-top: 70px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 30px;
        background-color:#FFFFFF;

}

.players{
        width: 330px;
        height: 474px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        margin: 10px;
}

.player-img{
        width: 100%;
}
.player-body{
        padding: 15px;
        background-color: #FFFFFF;
}

.player-name{
        font-size: 28px;
        font-weight: bold;
}
.players-desc{
        color: gray;
}

/* ---------------------
        match competition
------------------------- */

.football{
        /* margin-top: ; */
        display: flex;
        box-sizing: border-box;
        box-shadow: 2px 2px 5px white;
        

     

}

.football-heading{

        width: 469px;
        height: 241px;
        width: 35%;
        margin-left: 182px;
        padding: 5px;
        margin-top: 309px;
        line-height: 24px;
}

.football-heading h3{
        font-family: 'Poppins','sans-serif';
        /* font-weight: bold; */
        font-size: 48px;
        line-height: 60px;
}
.football-heading p{
        font-family: 'Poppins','sans-serif';
        color: gray;
        text-align: left;
        line-height: 28px;
}
.football-match{
        width: 50%;
        padding:10px;
        
}
.arrow{
        /* margin-top: 24px; */
        width: 173px;
        height: 44px;
        background-color:#E02C6D;
        margin: 24px 0px;
        padding: 10px 24px;
}

.football-heading a{
        margin-top: 24px;
        text-decoration: none;
        color: white;
        font-size: 16px;
}


.football-match img{
        margin-top: 200px;
        width: 567px;
        height: 427px;

}


/* ---------------------------
        footer start from here
----------------------------- */

.footer-div{
        text-align: center;
        margin-top: 156px;
}

.footer-img img{
        width: 483px;
        height: 213px;
}

.footer-div{
        position: relative;
}
.footer-icon i{
        margin-top: 32px;
        padding-left: 15px;
        /* position: absolute; */
        color:white;
        padding: 10px;
        background-color: lightgray;
        border-radius: 50px;
        transition: width 2s,height 2s;
        transition: 0.5s ease;

}
.footer-icon a:hover i{
        color:salmon;
        transform: scale(1.2);
       
}
.footer-icon p{
        font-family: 'Poppins','sans-serif';
        /* font-weight: bold; */
        font-size: 18px;
}

/* -----------------------------
        Media Queries
------------------------------- */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
        .player-container{
                /* display: grid;
                grid-template-columns: repeat(3,1fr);
                grid-gap: 30px; */
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                padding:20px;
                justify-content: center;
                align-items: center;
        
        }
        .football{
                flex-wrap: wrap;
        }
        .footer-div {
                width: 60%;
                margin: 0 auto;
        }
        .footer-div img{
                width: 100%;
                box-shadow: 2px 2px 10px white;
                position: relative;
                top: 0px;
                left: 0px;
        }
        .header-area{
                flex-direction: row;
                flex-wrap: wrap;
                position: absolute;
                width: 500px;
                height: 695px;
                margin: 0px;
                left: 0px;

        }
                
}
        

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
        .player-container{
                display: grid;
                grid-template-columns: repeat(2,1fr);
        }
      
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) {
        .player-container{
                display: grid;
                grid-template-columns: repeat(3,1fr);
        }

}